<h1>Let's play with me!</h1>
<p>It's like you are at a cafe smoking gauloises and stabbing at the tattered pages of your latest screen play with a tooth scarred # 2; or a cocktail lounge hobknobbing with industry types trying desperately to impress each other with how unimpressable they are. </p>

<%= link_to "Join the conversation!", join_path, :class => "join_button round" %>


 
